<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8/>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<link rel="shortcut icon" href="https://graphcool-playground.netlify.com/favicon.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/graphql-playground-react@{{ .Env.PLAYGROUND_VERSION }}/build/static/css/index.css" 
		crossorigin="anonymous"/>
	<link rel="shortcut icon" href="https://cdn.jsdelivr.net/npm/graphql-playground-react@{{ .Env.PLAYGROUND_VERSION }}/build/favicon.png"
		crossorigin="anonymous"/>
	<script src="https://cdn.jsdelivr.net/npm/graphql-playground-react@{{ .Env.PLAYGROUND_VERSION }}/build/static/js/middleware.js"
		crossorigin="anonymous"></script>
	<title>{{ .Env.PLAYGROUND_TITLE }}</title>
</head>
<body>
<style type="text/css">
	html { font-family: "Open Sans", sans-serif; overflow: hidden; }
	body { margin: 0; background: #172a3a; }
</style>
<div id="root"/>
<script type="text/javascript">
	window.addEventListener('load', function (event) {
		const root = document.getElementById('root');
		root.classList.add('playgroundIn');
		const wsProto = location.protocol == 'https:' ? 'wss:' : 'ws:'
		const host = {{ if eq .Env.PLAYGROUND_HOST "" }}location.host{{ else }}'{{ .Env.PLAYGROUND_HOST }}'{{ end }};
		GraphQLPlayground.init(root, {
			endpoint: location.protocol + '//' + host + '{{ .Env.PLAYGROUND_ENDPOINT }}',
			subscriptionsEndpoint: wsProto + '//' + host + '{{ .Env.PLAYGROUND_ENDPOINT }}',
           shareEnabled: true,
			settings: {
				'request.credentials': 'same-origin'
			}
		})
	});
</script>
</body>
</html>